services:
    env_django:
        image: vulmatch
        extra_hosts:
            - "host.docker.internal:host-gateway"
        build: .
        volumes:
            - .:/usr/src/app/
            - ./www:/var/www/
        environment:
            - DJANGO_SETTINGS_MODULE=vulmatch.settings
            - CELERY_BROKER_URL=redis://redis:6379/0
            - result_backend=redis://redis:6379/1
            - DEBUG=1
        env_file:
            - ./.env
        command: >
                bash -c "
                    python manage.py collectstatic --no-input &&
                        python manage.py makemigrations &&
                            python manage.py migrate &&
                                python -m vulmatch.worker.populate_dbs
                    " 
    django:
        extends: env_django
        command: gunicorn vulmatch.wsgi:application  --reload --bind 0.0.0.0:8005
        ports:
            - 8005:8005
        depends_on:
            - celery

    celery:
        extends: env_django
        command: celery -A vulmatch.worker worker -l INFO
        depends_on:
            redis:
                condition: service_started
            env_django:
                condition: service_completed_successfully
    redis:
        image: "redis:alpine"

volumes:
    pgdata: