## stixify
requests>=2.32.4
drf-spectacular
djangorestframework>=3.15.2
drf-spectacular>=0.27.2
celery>=5.4.0; python_version >= '3.8'
psycopg2-binary>=2.9.10
redis
hyperlink
django>=5.2.1
django-filter>=24.2
django-cors-headers
django-storages[s3]
django-cleanup

## dogesec
dogesec_commons @ https://github.com/muchdogesec/dogesec_commons/releases/download/main-2025-06-05-08-47-25/dogesec_commons-0.0.7rc1-py3-none-any.whl
stix2arango @ https://github.com/muchdogesec/stix2arango/releases/download/main-2025-06-12-05-09-47/stix2arango-0.0.4rc0-py3-none-any.whl
arango_cve_processor @ https://github.com/muchdogesec/arango_cve_processor/releases/download/update-deps-2025-06-20-15-48-04/arango_cve_processor-0.0.1-py3-none-any.whl

## llms
llama-index-core
llama-index-llms-anthropic
llama-index-llms-openai
llama-index-llms-openrouter
llama-index-llms-gemini
llama-index-llms-deepseek

## production
gunicorn==23.0.0